<h1>Create a Post</h1>

<form action="/create" method="post">
    <input type="text" name="title" id="">
    <input type="text" name="body" id="">
    <button type="submit">Create Post</button>
</form>